**/*.aux
**/fordiva.json
KTH/thesis/main_kth.blg
KTH/thesis/main_kth.ist
KTH/thesis/main_kth.lof
KTH/thesis/main_kth.log
KTH/thesis/main_kth.out
KTH/thesis/main_kth.run.xml
KTH/thesis/main_kth.pdf
KTH/thesis/main_kth.toc

KTH/thesis/missfont.log
